body {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
}

header {
    background-color: rgb(34, 34, 34);
    max-width: 100%;
    text-align: left;
    padding: 30px
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(190, 175, 89);
  padding: 10px 160px;
  border: none;
  width: 100%;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

a{
    color: rgb(190, 175, 89);
    font-size: 25px;
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: right;
    gap: 20px;
    max-width: 100%;
}

h4{
    color: rgb(190, 175, 89);
    font-family: sans-serif;
}

.row{
    display: flex;
    gap: 10px;
    padding: 70px;
    max-width: 100%;
}

.box{
    flex: 1;
    background: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 20px;
    max-width: 100%;
    
}

.box-black{
    background-color: black;
    border-radius: 20px;
}

h1{
    color: white;
    font-family: sans-serif;
}

.center-video{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid rgb(24, 24, 24);
    max-width: 100%;
    max-height: 100%;
}

h5{
    color: rgb(190, 175, 89);
    font-size: 25px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h6{
    font-size: 50px;
    color: rgb(190, 175, 89);
    text-align: center;
    font-family: sans-serif;
}

h2{
    font-size: 40px;
    color: rgb(190, 175, 89);
    text-align: center;
    font-family: sans-serif;
}

.box-white{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border-radius: 20px;
    text-align: center; 
}

h3{
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

.box1{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border-radius: 20px;
}

.left-box1{
    padding: 140px 200px;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}


.row0{
    padding: 100px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}

.row9{
    padding: 100px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}


.box-red{
    padding: 120px 200px;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #BEAF59;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

input[type=submit] {
    background-color: #BEAF59;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(24, 24, 24);
}

.container {
    border-radius: 20px;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    color: #BEAF59;
    max-width: 100%;
    max-height: 100%;
}

.btn-white{
    display: inline-block;
    padding: 15px 55px;
    background-color: rgb(190, 175, 89);
    color: black;
    border-radius: 100px;
    font-weight: 600;
    justify-content: right;
    align-items: right;
    
}

.image-card .text {
  position: center;
  bottom: 0;
  width: 100%;
  padding: 30px;
  color: white;
  font-size: 30px;
  background: linear-gradient(transparent, rgb(190, 175, 89));
  text-align: center;
}

.image-button {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
}

.image-button img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0,0,0,0.6));
}

.overlay h2 {
  margin: 0;
  font-size: 24px;
}

.image-button:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}
